@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ppmori';
    src: url('fonts/PPMori-Variable-ZDOEFJXU.woff2');
}
body {
    font-family: 'ppmori';
    background-color: #F3F3F1;
    color: #1D1D1B;
}
.bg-custom {
    background-color: #1D1D1B;
}
.tt {
    transition: 0.3s;
}