@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ppmori';
    src: url('fonts/PPMori-Variable-ZDOEFJXU.woff2');
}
body {
    font-family: 'ppmori';
}
.custom-grid-gap {
    gap: 30px 20px;
}
.tt {
    transition: 0.3s;
}